{
    "CN": "etcd",
    "hosts": [
    {{ groups['etcd'][0] }},
    {{ groups['etcd'][1] }},
    {{ groups['etcd'][2] }},
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "Shenzhen",
            "ST": "Shenzhen"
        }
    ]
}